<div class="d-flex justify-content-center" [formGroup]="loginForm" (ngSubmit)="onSignUp(loginForm.value)" >
  <form class="mt-2" style="width: 40vw">
    <div class="d-flex justify-content-center">
      <img
        class="mb-4"
        src="assets/images/undraw_male_avatar_323b.svg"
        alt=""
        width="150"
        height="150"
      />
    </div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
      formControlName="email"
    />
    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="form-control alert alert-danger"
      role="alert"
    >
      <p *ngIf="email?.errors?.required">El correo es necesario</p>
      <p *ngIf="email?.errors?.email">Debe ser de tipo Email</p>
    </div>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required=""
      formControlName="password"
    />
    <div
      *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      class="form-control alert alert-danger"
      role="alert"
    >
      <p *ngIf="password?.errors?.required">La contraseña es necesaria</p>
      <p *ngIf="password?.errors?.minlength">La contraseña debe tener por lo menos 5 caracteres</p>
    </div>
    <button
      [disabled]="loginForm.invalid"
      class="w-100 btn btn-lg btn-primary mt-5"
      type="submit"
    >
      Sign in
    </button>
    <p class="mt-5 mb-3 text-center text-muted">© 2017-2021</p>
  </form>
</div>
