<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">TUL Compras</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home </a>
      </li>
    </ul>
    <div *ngIf="isLoggedIn">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger btn-sm" (click)="onLogout()">Salir</button>
        </li>
      </ul>
    </div>

    <ng-container *ngIf="!isLoggedIn">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login </a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            >Registrarse
          </a>
        </li>
      </ul>
    </ng-container>
  </div>
</nav>
