<div class="shadow p-4 card">
  <div class="card-body row">
    <div class="col-8">
      <h2>{{ value.name }}</h2>
      <p class="text-muted text-justify mt-5">
        {{ value.description }}
      </p>
    </div>
    <div class="col-4">
      <img src="{{ value.imageUrl }}" width="100%" />
      <button class="btn btn-warning btn-block mt-2" (click)="onEdit()">
        Editar
      </button>
      <button class="btn btn-danger btn-block mt-2" (click)="onDelete()">
        Eliminar producto
      </button>
    </div>
    <p class="badge badge-pill badge-info">{{ value.category }}</p>
  </div>
</div>
